<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Create a post!</h1>


<!--Without form model binding-->
<!--<form action="/posts/create" method="POST">-->
<!--    <label for="title">title</label>-->
<!--    <input type="text" id="title" name="title">-->
<!--    <label for="description">description</label>-->
<!--    <textarea id="description" name="description"></textarea>-->
<!--    <button type="submit">submit</button>-->
<!--</form>-->

<!--FORM MODEL BINDING-->
<form th:action="@{/posts/create}" th:method="POST" th:object="${post}">
  <label for="title">title</label>
  <input th:field="*{title}" id="title">
  <br/>
  <label for="description">description</label>
  <input th:field="*{body}" id="description">
  <br />
  <button type="submit">post</button>
</form>

</body>
</html>