<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>edit you post</h1>
<form th:action="@{/posts/edit}" th:method="POST" th:object="${post}">
  <input th:field="*{id}" style="display: none">"
  <label for="title">title</label>
  <input th:field="*{title}" id="title">
  <br/>
  <label for="description">description</label>
  <input th:field="*{body}" id="description">
  <br />
  <button type="submit">post</button>
</form>
</body>
</html>