<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Register</title>
</head>
<body>
<h1>Sign Up</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${newUser}">
    <label for="username">Username: </label>
    <input type="text" id="username" th:field="*{username}">
    <label for="email">Email</label>
    <input id="email" th:field="*{email}" />
    <label for="password">Password</label>
    <input type="password" id="password" th:field="*{password}">
    <button type="submit">Sign Up!</button>
</form>
</body>
</html>

