<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
<h1>Create a Ad!</h1>



<form th:action="@{/ads/create}" th:method="POST" th:object="${ad}">
  <label for="title">title</label>
  <input th:field="*{title}" id="title">
  <br/>
  <label for="description">description</label>
  <input th:field="*{description}" id="description">
  <br />
  <button type="submit">post</button>
</form>

</body>
</html>